.footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    border-top: 2px solid #E50914;
}